@model ProductViewModel

@{
    ViewData["Title"] = "Product";
}

<div>
    <h1>@ViewBag.Title</h1>
    <button class="btn btn-success" id="addNewBtn" type="button" title="Add new" style="float:right;"><span data-feather="plus"></span> Add New</button>
</div>
<br />
<br />

@* --- Product Table --- *@
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@ViewBag.TitlePlural</th>
            <th><i style="float:right;"><small><b>Description</b></small></i></th>
            <th><i style="float:right;"><small><b>Price</b></small></i></th>
            <th><i style="float:right;"><small><b>Subcategory</b></small></i></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Products)
        {
            <tr value="@p.Id">
                <td>@p.Name</td>
                <td><i style="float:right;"><small>@p.Description</small></i></td>
                <td><i style="float:right;"><small>@p.Price</small></i></td>
                <td><i style="float:right;"><small>@p.Subcategory.Name</small></i></td>
                <td>
                    <div style="float:right;">
                        <a class="text-muted"
                           data-toggle="modal"
                           data-target="#editProductModal"
                           title="Edit"
                           id="editItem"
                           data-id="@p.Id"
                           data-name="@p.Name"
                           data-price="@p.Price"
                           data-textarea="@p.Description"
                           data-select="@p.Subcategory.Name">
                            <span data-feather="edit-2"></span>
                        </a>
                        &nbsp;&nbsp;
                        <a class="text-muted"
                           data-toggle="modal"
                           data-target="#deleteProductModal"
                           title="Delete"
                           id="deleteItem"
                           data-id="@p.Id"
                           data-name="@p.Name">
                            <span data-feather="trash-2"></span>
                        </a>&nbsp;&nbsp;

                        <a asp-controller="Home" asp-action="GetProductsToJson" asp-route-productId="@p.Id" class="btn btn-sm">JSON</a>
                        <a asp-controller="Home" asp-action="GetProductsToXml" asp-route-productId="@p.Id" class="btn btn-sm">XML</a>

                    </div>
                    <!----- The delete (product) modal ----->
                    <div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="text-align:center;">
                                    <h5 class="mx-auto"></h5>
                                </div>
                                <div class="modal-body">
                                    <div style="text-align:center;">
                                        <form asp-controller="Product" asp-action="DeleteProduct" method="post">
                                            <input type="hidden" name="productId" value="@p.Id" />
                                            <button type="submit" id="confirmDeleteItem" class="btn btn-danger">Delete</button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<div id="viewComponents" style="display:none;">
    @await Component.InvokeAsync("AddNewProductVC")
</div>
<br />

@* --- Product Cards --- *@
<div class="row">
    @foreach (var p in Model.Products)
    {
        <div class="col-sm-6">
            <div class="card">
                @* --- card header --- *@
                <div class="card-header">
                    <div>
                        <b>@p.Name</b>
                        <form asp-controller="Product" asp-action="PublishProduct" style="float:right;">
                            <input value="@p.Id" name="id" style="display:none;" />
                            @if (p.Published == false)
                            {
                                <button type="submit" class="btn btn-sm btn-warning" id="publishBtn" title="Publish product to be sold.">publish</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-sm btn-outline-warning" id="unpublishBtn" title="Unpublish product from inventory.">unpublish</button>
                            }
                        </form>
                        <div style="float:right;">
                            <a class="text-muted"
                               data-toggle="modal"
                               data-target="#editProductModal"
                               title="Edit"
                               id="editItem"
                               data-id="@p.Id"
                               data-name="@p.Name"
                               data-price="@p.Price"
                               data-textarea="@p.Description"
                               data-select="@p.Subcategory.Name">
                                <span data-feather="edit-2"></span>
                            </a>
                            &nbsp;
                            <a class="text-muted"
                               data-toggle="modal"
                               data-target="#deleteProductModal"
                               title="Delete"
                               id="deleteItem"
                               data-id="@p.Id"
                               data-name="@p.Name">
                                <span data-feather="trash-2"></span>
                            </a>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
                @* --- card body --- *@
                <div class="card-body">
                    <p class="card-text">
                        <small>
                            <b>Description:<br /></b>
                            <i>@p.Description</i>
                        </small>
                    </p>
                    <p class="card-text">
                        <small>
                            <b>Price:</b>
                            <i>@p.Price &#107;&#114;</i>
                        </small>
                    </p>
                    <p class="card-text">
                        <small>
                            <b>Subcategory:</b>
                            <i>@p.Subcategory.Name</i>
                        </small>
                    </p><br />

                    @* --- card body table view component --- *@
                    @await Component.InvokeAsync("ProductCardBodyTableVC", p.Id)

                </div>
                @* --- card footer --- *@
                <div class="card-footer text-muted text-center">
                    <small>
                        <i><b>version:</b></i>&nbsp;
                        <i>@p.Version</i>
                    </small>&nbsp;&nbsp;&nbsp;
                    <small>
                        <i><b>added:</b></i>&nbsp;
                        <i>@p.AddedDate.ToString("dd-MM-yyyy HH:mm")</i>&nbsp;
                    </small>&nbsp;&nbsp;&nbsp;
                    <small>
                        <i><b>updated:</b></i>&nbsp;
                        <i>@p.UpdatedDate.ToString("dd-MM-yyyy HH:mm")</i>&nbsp;
                    </small>
                </div>
            </div>
        </div>
    }
</div>
<br />

<!----- The edit (product) modal ----->
<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="mx-4">Edit @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Product" asp-action="AddProduct" id="editProductForm" method="post" class="form-horizontal">
                    <input asp-for="Id" id="inputId" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label px-4"><strong>Name:</strong></label>
                        <div class="px-4">
                            <input asp-for="Name" id="inputName" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label px-4"><strong>Price:</strong></label>
                        <div class="px-4">
                            <input asp-for="Price" id="inputPrice" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="SubcategoryId" class="control-label px-4"><strong>Subcategory:</strong></label>
                        <div class="px-4">
                            <select asp-for="SubcategoryId" class="form-control" required>
                                <option value="" selected>Please choose...</option>
                                @foreach (var subcat in Model.Subcategory)
                                {
                                    <option value="@subcat.Id">@subcat.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label px-4"><strong>Description:</strong></label>
                        <div class="px-4">
                            <textarea asp-for="Description" class="form-control" form="editProductForm"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="px-4">
                            <button class="btn btn-sm btn-success" type="submit">Edit</button>
                            <button class="btn btn-sm btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>