<div>
    <h1>@ViewBag.Title</h1>
    <button class="btn btn-success" id="addNewBtn" type="button" title="Add new" style="float:right;"><span data-feather="plus"></span> Add New</button>
</div>
<br />
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@ViewBag.TitlePlural</th>
            <th><i style="float:right;"><small>Added</small></i></th>
            <th><i style="float:right;"><small>Latest update</small></i></th>
            <th><i style="float:right;"><small>Modified by</small></i></th>
            <th><i style="float:right;"><small>Version</small></i></th>
            @{
                if (Model is IEnumerable<Subcategory>)
                {
                    <th><i style="float:right;"><small><b>Category</b></small></i></th>
                }
            }
            @if (User.IsInRole("Administrator") || User.IsInRole("Publisher"))
            {
                <th><i style="float:right;"><small><b>Publish</b></small></i></th>
            }
            <th>
                @{ if (Model is IEnumerable<Category>)
                    {
                        <div style="float:right;">
                            <a asp-controller="Category" asp-action="GetCategoriesToJsonExport" title="Export all categories to JSON." class="btn btn-sm btn-outline-secondary">Export to JSON</a>
                            <a asp-controller="Category" asp-action="GetCategoriesToXml" title="Export all categories to XML." class="btn btn-sm btn-outline-secondary">Export to XML</a>
                        </div>
                    }
                    else
                    {
                        <div style="float:right;">
                            <a asp-controller="Subcategory" asp-action="GetSubcategoriesToJsonExport" title="Export all subcategories to JSON." class="btn btn-sm btn-outline-secondary">Export to JSON</a>
                            <a asp-controller="Subcategory" asp-action="GetSubcategoriesToXml" title="Export all subcategories to JSON." class="btn btn-sm btn-outline-secondary">Export to XML</a>
                        </div>
                    }
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr value="@c.Id">
                <td>@c.Name</td>
                <td><i style="float:right;"><small>@c.AddedDate</small></i></td>
                <td><i style="float:right;"><small>@c.UpdatedDate</small></i></td>
                <td><i style="float:right;"><small>@c.ModifiedBy</small></i></td>
                <td><i style="float:right;"><small>@c.Version</small></i></td>
                @if (Model is IEnumerable<Subcategory>)
                {
                    if (c.CategoryId != null)
                    {
                        <td><i style="float:right;"><small>@c.Category.Name</small></i></td>
                    }
                    if (c.CategoryId == null)
                    {
                        <td><i style="float:right;"><small>No category connected yet. Do it.</small></i></td>
                    }
                }
                @if (User.IsInRole("Administrator") || User.IsInRole("Publisher"))
                {
                    <td>
                        @if (Model is IEnumerable<Category>)
                        {
                            <form asp-controller="Category" asp-action="PublishCategory">
                                <input value="@c.Id" name="id" style="display:none;" />
                                @if (c.Published == false)
                                {
                                    <button type="submit" class="btn btn-sm btn-warning" style="float:right;">publish</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-sm btn-outline-warning" style="float:right;">unpublish</button>
                                }
                            </form>
                        }
                        @if (Model is IEnumerable<Subcategory>)
                        {
                            <form asp-controller="Subcategory" asp-action="PublishSubcategory">
                                <input value="@c.Id" name="id" style="display:none;" />
                                @if (c.Published == false)
                                {
                                    <button type="submit" class="btn btn-sm btn-warning" style="float:right;">publish</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-sm btn-outline-warning" style="float:right;">unpublish</button>
                                }
                            </form>
                        }
                    </td>
                }
                <td>
                    @if (Model is IEnumerable<Category>)
                    {
                        <div style="float:right;">
                            <a class="text-muted"
                               data-toggle="modal"
                               data-target="#editModal"
                               title="Edit"
                               id="editItem"
                               data-id="@c.Id"
                               data-name="@c.Name">
                                <span data-feather="edit-2"></span>
                            </a>
                            &nbsp;&nbsp;
                            <a class="text-muted"
                               data-toggle="modal"
                               data-target="#deleteModal"
                               title="Delete"
                               id="deleteItem"
                               data-id="@c.Id"
                               data-name="@c.Name">
                                <span data-feather="trash-2"></span>
                            </a>&nbsp;&nbsp;
                            <a asp-controller="Category" asp-action="GetCategoriesToJsonExport" asp-route-categoryId="@c.Id" title="Export @c.Name to Json" class="btn btn-sm">JSON</a>
                            <a asp-controller="Category" asp-action="GetCategoriesToXml" asp-route-categoryId="@c.Id" title="Export @c.Name to Xml" class="btn btn-sm">XML</a>
                        </div>
                        <!----- The delete (category) modal ----->
                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header" style="text-align:center;">
                                        <h5 class="mx-auto"></h5>
                                    </div>
                                    <div class="modal-body">
                                        <div style="text-align:center;">
                                            <form asp-controller="Category" asp-action="DeleteCategory" method="post">
                                                <input type="hidden" name="categoryId" value="@c.Id" />
                                                <button type="submit" id="confirmDeleteItem" class="btn btn-danger">Delete</button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model is IEnumerable<Subcategory>)
                    {
                        <div style="float:right;">
                            <a class="text-muted"
                               data-toggle="modal"
                               data-target="#editSubcategoryModal"
                               title="Edit"
                               id="editItem"
                               data-id="@c.Id"
                               data-name="@c.Name">
                                <span data-feather="edit-2"></span>
                            </a>
                            &nbsp;&nbsp;
                            <a class="text-muted"
                               data-toggle="modal"
                               data-target="#deleteModal"
                               title="Delete"
                               id="deleteItem"
                               data-id="@c.Id"
                               data-name="@c.Name">
                                <span data-feather="trash-2"></span>
                            </a>&nbsp;&nbsp;
                            <a asp-controller="Subcategory" asp-action="GetSubcategoriesToJsonExport" asp-route-subcategoryId="@c.Id" title="Export @c.Name to Json" class="btn btn-sm">JSON</a>
                            <a asp-controller="Subcategory" asp-action="GetSubcategoriesToXml" asp-route-subcategoryId="@c.Id" title="Export @c.Name to Xml" class="btn btn-sm">XML</a>
                        </div>
                        <!----- The delete (subcategory) modal ----->
                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header" style="text-align:center;">
                                        <h5 class="mx-auto"></h5>
                                    </div>
                                    <div class="modal-body">
                                        <div style="text-align:center;">
                                            <form asp-controller="Subcategory" asp-action="DeleteSubcategory" method="post">
                                                <input type="hidden" name="subcategoryId" value="@c.Id" />
                                                <button type="submit" id="confirmDeleteItem" class="btn btn-danger">Delete</button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<div id="viewComponents" style="display:none;">
    @{
        if (Model is IEnumerable<Category>)
        {
            @await Component.InvokeAsync("AddNewCategoryVC")
        }
        if (Model is IEnumerable<Subcategory>)
        {
            @await Component.InvokeAsync("AddNewSubcategoryVC")
        }
    }
</div>
<!----- The edit (category) modal ----->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="mx-4">Edit @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Category" asp-action="AddCategory" id="editCatForm" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label for="Name" class="control-label px-4"><strong>Name:</strong></label>
                        <div class="px-4">
                            <input name="Name" id="nameInputField" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="px-4">
                            <button class="btn btn-sm btn-success" type="submit">Edit</button>
                            <button class="btn btn-sm btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!----- The edit (subcategory) modal ----->
<div class="modal fade" id="editSubcategoryModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="mx-4">Edit @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Subcategory" asp-action="AddSubcategory" id="editSubcatForm" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label for="Name" class="control-label px-4"><strong>Name:</strong></label>
                        <div class="px-4">
                            <input name="Name" id="nameInputField" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CategoryId" class="control-label px-4"><strong>Category:</strong></label>
                        <div class="px-4">
                            <select name="CategoryId" class="form-control categorySelect" required>
                                <!-- Dropdown populated dynamically by ajax GET. -->
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="AttributeGroupId" class="control-label px-4"><strong>Attribute groups:</strong></label>
                            <div class="px-4">
                                <!-- table of subcategories attribute groups. -->
                                <table class="table table-nostriped">
                                    <tbody id="subcategoriesAttrGroupsTableBody"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label class="control-label px-4"><small><i><b>Add attribute group:</b></i></small></label>
                            <div class="px-4">
                                <!----- list of added attribute groups table ----->
                                <table class="table table-nostriped">
                                    <tbody id="allAttrGroupsTableBody"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="px-4">
                            <button class="btn btn-sm btn-success" type="submit">Edit</button>
                            <button class="btn btn-sm btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>