<div>
    <h1>@ViewBag.Title</h1>
    <button class="btn btn-success" href="#" title="Add new category" style="float:right;"><span data-feather="plus"></span> Add New</button>
</div>
<br />
<br />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@ViewBag.Title</th>
            <th><i style="float:right;"><small>Added</small></i></th>
            <th><i style="float:right;"><small>Latest update</small></i></th>
            <th><i style="float:right;"><small>Version</small></i></th>
            <th><i style="float:right;"><small><b>Publish</b></small></i></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Name</td>
                <td><i style="float:right;"><small>@c.AddedDate</small></i></td>
                <td><i style="float:right;"><small>@c.UpdatedDate</small></i></td>
                <td><i style="float:right;"><small>@c.Version</small></i></td>
                <td>
                    @{
                        if (c.Published == false)
                        {
                            <button type="button" class="btn btn-sm btn-warning" style="float:right;" id="publishBtn">publish</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-sm btn-outline-warning" style="float:right;" id="unpublishBtn">unpublish</button>
                        }
                    }

                </td>
                <td>
                    <div style="float:right;">
                        <a class="text-muted" href="#" title="Edit category"><span data-feather="edit-2"></span></a>&nbsp;&nbsp;
                        <a class="text-muted" href="#" title="Delete category"><span data-feather="trash-2"></span></a>&nbsp;&nbsp;
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>