<div>
    <h1>@ViewBag.Title</h1>
    <button class="btn btn-success" id="addNewBtn" type="button" title="Add new" style="float:right;"><span data-feather="plus"></span> Add New</button>
</div>
<br />
<br />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@ViewBag.TitlePlural</th>
            <th><i style="float:right;"><small>Added</small></i></th>
            <th><i style="float:right;"><small>Latest update</small></i></th>
            <th><i style="float:right;"><small>Version</small></i></th>
            @{
                if (Model is IEnumerable<Subcategory>)
                {
                    <th><i style="float:right;"><small><b>Category</b></small></i></th>
                }
            }
            <th><i style="float:right;"><small><b>Publish</b></small></i></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr value="@c.Id">
                <td>@c.Name</td>
                <td><i style="float:right;"><small>@c.AddedDate</small></i></td>
                <td><i style="float:right;"><small>@c.UpdatedDate</small></i></td>
                <td><i style="float:right;"><small>@c.Version</small></i></td>
                @if (Model is IEnumerable<Subcategory>)
                {
                    if (c.Category.Name != null)
                    {
                        <td><i style="float:right;"><small>@c.Category.Name</small></i></td>
                    }
                    // Can possibly delete this 'else'... have a 'required' on dropdown so this can never be null..
                    else
                    {
                        <td><i style="float:right;"><small>No category connected yet. Do it.</small></i></td>
                    }

                }
                <td>
                    @{
                        if (c.Published == false)
                        {
                            <button type="button" class="btn btn-sm btn-warning" style="float:right;" id="publishBtn">publish</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-sm btn-outline-warning" style="float:right;" id="unpublishBtn">unpublish</button>
                        }
                    }

                </td>
                <td>
                    <div style="float:right;">
                        <a class="text-muted"
                           data-toggle="modal"
                           data-target="#editModal"
                           title="Edit"
                           id="editItem"
                           data-id="@c.Id"
                           data-name="@c.Name">
                            <span data-feather="edit-2"></span>
                        </a>
                        &nbsp;&nbsp;
                        <a class="text-muted"
                           data-toggle="modal"
                           data-target="#deleteModal"
                           title="Delete"
                           id="deleteItem"
                           data-id="@c.Id"
                           data-name="@c.Name">
                            <span data-feather="trash-2"></span>
                        </a>&nbsp;&nbsp;
                    </div>

                    <!----- The edit modal ----->
                    <!----- TODO: HAVE A MODAL PARTIAL VIEW ------->
                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="mx-4">Edit @ViewBag.Title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form asp-controller="Category" asp-action="AddCategory" id="editCatForm" method="post" class="form-horizontal">
                                        <div class="form-group">
                                            <label for="Name" class="control-label px-4"><strong>Name:</strong></label>
                                            <div class="px-4">
                                                <input name="Name" id="nameInputField" class="form-control" required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="px-4">
                                                <button class="btn btn-sm btn-success" type="submit">Edit</button>
                                                <button class="btn btn-sm btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!----- The delete modal ----->
                    <!----- TODO: HAVE A MODAL PARTIAL VIEW ------->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="text-align:center;">
                                    <h5 class="mx-auto"></h5>
                                </div>
                                <div class="modal-body">
                                    <div style="text-align:center;">
                                        <form asp-controller="Category" asp-action="DeleteCategory" method="post">
                                            <input type="hidden" name="categoryId" value="@c.Id" />
                                            <button type="submit" id="confirmDeleteItem" class="btn btn-danger">Delete</button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<div id="viewComponents" style="display:none;">
    @{
        if (Model is IEnumerable<Category>)
        {
            @await Component.InvokeAsync("AddNewCategoryVC")
        }
        if (Model is IEnumerable<Subcategory>)
        {
            @await Component.InvokeAsync("AddNewSubcategoryVC")
        }
    }
</div>




<script src="~/js/site.min.js"></script>
<script>
    $(document).ready(function () {

        // Hide and show the view components.
        $('#addNewBtn').on('click', function () {
            $('#viewComponents').show();
        });
        $('#cancelBtn').on('click', function () {
            $('#addNewCatForm').find('input').val('');
            $('#addNewSubcatForm').find('input').val('');
            $('#addNewSubcatForm').find('select').val('');
            $('#viewComponents').hide();
        });

        // To control the data that is shown in the edit modal.
        $('#editModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var idRecipient = button.data('id');
            var nameRecipient = button.data('name');
            var modal = $(this);
            modal.find('.modal-body input').val(nameRecipient);

            $('#editCatForm').submit(function (e) {
                e.preventDefault();
                var formData = new FormData();
                formData.append('id', idRecipient);
                $('#editCatForm input').each(function () {
                    formData.append($(this).attr('name'), $(this).val());
                });
                $.ajax({
                    url: '/Category/AddCategory',
                    type: 'POST',
                    data: formData,
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        console.log(data);
                        window.location.href = data;
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
            console.log(idRecipient);
        });

        // To control the data that is shown in the delete modal.
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var idRecipient = button.data('id');
            var nameRecipient = button.data('name');
            var modal = $(this);
            modal.find('.modal-content h5').text('Are you sure you want to delete category ' + nameRecipient + '?');
            modal.find('.modal-body input').val(idRecipient);
            console.log(idRecipient);
        });

        

    });
</script>