<div>
    <h1>@ViewBag.Title</h1>
    <button class="btn btn-success" id="addNewBtn" type="button" title="Add new" style="float:right;"><span data-feather="plus"></span> Add New</button>
</div>
<br />
<br />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@ViewBag.TitlePlural</th>
            <th><i style="float:right;"><small>Added</small></i></th>
            <th><i style="float:right;"><small>Latest update</small></i></th>
            <th><i style="float:right;"><small>Version</small></i></th>
            <th><i style="float:right;"><small><b>Publish</b></small></i></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Name</td>
                <td><i style="float:right;"><small>@c.AddedDate</small></i></td>
                <td><i style="float:right;"><small>@c.UpdatedDate</small></i></td>
                <td><i style="float:right;"><small>@c.Version</small></i></td>
                <td>
                    @{
                        if (c.Published == false)
                        {
                            <button type="button" class="btn btn-sm btn-warning" style="float:right;" id="publishBtn">publish</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-sm btn-outline-warning" style="float:right;" id="unpublishBtn">unpublish</button>
                        }
                    }

                </td>
                <td>
                    <div style="float:right;">
                        <a class="text-muted" href="#" title="Edit"><span data-feather="edit-2"></span></a>&nbsp;&nbsp;
                        <a class="text-muted" href="#" title="Delete"><span data-feather="trash-2"></span></a>&nbsp;&nbsp;
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<div id="addNewCategoryVC" style="display:none;">
    @await Component.InvokeAsync("AddNewCategoryVC")
</div>




<script src="~/js/site.min.js"></script>
<script>
    $(document).ready(function () {

        $('#addNewBtn').on('click', function () {
            $('#addNewCategoryVC').show();
        });

        // Can use this if can figure out a way to easily 'clear' or 'reset' the form...
        $('#cancelBtn').on('click', function () {
            $('#addNewCatForm').find('input').val('');
            $('#addNewCategoryVC').hide();

        });

    });
</script>