@model ProductAttributeValueViewModel

<table class="table table-bordered">
    <thead>
        <tr>
            <th><i><small><b>AttrGroup</b></small></i></th>
            <th><i><small><b>Products attribute</b></small></i></th>
            <th><i><small><b>Description</b></small></i></th>
            <th><i><small><b>Value</b></small></i></th>
        </tr>
    </thead>
    <tbody>
        <!-- Shows all product attributes and gives you a chance to add values. -->
        @foreach (var subcatAttrGroup in Model.CardSubcategoryAttributeGroups)
        {
            @foreach (var productAttr in subcatAttrGroup.AttributeGroup.ProductAttributes)
            {
                <tr>
                    <td title="@subcatAttrGroup.AttributeGroup.Name"><i><small>@subcatAttrGroup.AttributeGroup.Id</small></i></td>
                    <td value="@productAttr.Id"><i><small>@productAttr.Name</small></i></td>
                    <td><i><small>@productAttr.Description</small></i></td>

                    @{
                        var productAttrValueRow = Model.CardProductAttributeValues.FirstOrDefault(x => x.ProductAttribute.Id == productAttr.Id);
                        var productAttrValueRowValue = productAttrValueRow?.Value;
                        var productAttrValueRowProductId = productAttrValueRow?.ProductId;
                    }
                    @if (productAttr.Type == "bool")
                    {
                        <td>
                            <form class="form-inline" asp-controller="Product" asp-action="SaveProductAttributeValue">
                                <input type="hidden" value="@productAttr.Id" asp-for="ProductAttributeId" />
                                <input type="hidden" value="@Model.ProductId" asp-for="ProductId" />
                                <select asp-for="Value" class="form-control-sm col-8" required>
                                    @if (productAttrValueRowValue != null)
                                    {
                                        <option value="@productAttrValueRowValue">@productAttrValueRowValue</option>
                                        @if (productAttrValueRowValue == "Yes")
                                        {
                                            <option value="No">No</option>
                                        }
                                        else
                                        {
                                            <option value="Yes">Yes</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="" disabled selected>Select...</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    }
                                </select>&nbsp;&nbsp;
                                <button class="btn btn-sm" type="submit"><i>Save</i></button>
                            </form>
                        </td>
                    }
                    else if (productAttr.Type == "string" || productAttr.Type == "int" || productAttr.Type == "byte")
                    {
                        <td>
                            <form class="form-inline" asp-controller="Product" asp-action="SaveProductAttributeValue">
                                <input type="hidden" value="@productAttr.Id" asp-for="ProductAttributeId" />
                                <input type="hidden" value="@Model.ProductId" asp-for="ProductId" />
                                @if (productAttrValueRowValue != null)
                                {
                                    <input asp-for="Value" class="form-control form-control-sm col-8" type="text" value="@productAttrValueRowValue" required />
                                }
                                else
                                {
                                    <input asp-for="Value" class="form-control form-control-sm col-8" type="text" required />
                                }
                                &nbsp;&nbsp;
                                <button class="btn btn-sm" type="submit"><i>Save</i></button>
                            </form>
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>