<!-- If there are attribute groups connected to this subcategory... -->
@*@if (Model.AttributeGroups != null)
    {*@



@*<table class="table table-bordered">
        <thead>
            <tr>
                <th><i><small><b>Attribute group</b></small></i></th>
                <th><i><small><b>Products attribute</b></small></i></th>
                <th><i><small><b>Value</b></small></i></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ag in Model.AttributeGroups)
            {
                 if you have an Attribute Group AND Product Attributes
                @if (ag.ProductAttributes.Count >= 1)
                {
                    @foreach (var pa in ag.ProductAttributes)
                    {
                        <tr>
                            <td><small>@ag.Name</small></td>

                            <td value="@pa.Id"><small>@pa.Name</small></td>





                            @if (Model.ProductAttributeId.Equals(pa.Id))
                                {
                                    <td>
                                        <small>@Model.Value</small>
                                        <div style="float:right;">
                                            <button type="button" class="btn btn-sm btn-outline-dark" title="Edit this attribute value.">Edit</button>
                                            <button type="button" class="btn btn-sm btn-outline-danger" title="Delete this attribute value.">Delete</button>
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <i><small>Please add a value.</small></i>
                                        <button type="button" class="btn btn-sm btn-success" title="Add a value!" style="float:right;">Add</button>
                                    </td>
                                }
                        </tr>
                    }

                }

                 if you have added an Attribute Group but not a connecting Product Attribute...
                @if (ag.ProductAttributes.Count == 0)
                {
                    <tr>
                        <td><i><small>@ag.Name</small></i></td>
                        <td colspan="2"><i><small>Please add a <b>Product Attribute</b> to this Attribute Group.</small></i></td>
                    </tr>
                }


            }
        </tbody>
    </table>*@



@*}
    else
    {*@
<!-- There are NO attribute groups (and therefore no product attributes) connected to this subcategory yet... -->
@*<table class="table table-bordered">
            <thead>
                <tr>
                    <th><i><small><b>Attribute group</b></small></i></th>
                    <th><i><small><b>Products attribute</b></small></i></th>
                    <th><i><small><b>Value</b></small></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3"><i><small>Please add an <b>Attribute Group</b> AND a connecting <b>Product Attribute</b> to complete this table.</small></i></td>
                </tr>
            </tbody>
        </table>
    }*@







@model ProductAttributeValueViewModel


<table class="table table-bordered">
    <thead>
        <tr>
            <th><i><small><b>Attribute group</b></small></i></th>
            <th><i><small><b>Products attribute</b></small></i></th>
            <th><i><small><b>Value</b></small></i></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ag in Model.AttributeGroups)
        {
            @if (ag.ProductAttributes.Count >= 1)
            {
                @foreach (var pa in ag.ProductAttributes)
                {
                    <tr>
                        <td><small>@ag.Name</small></td>
                        <td value="@pa.Id"><small>@pa.Name</small></td>

                        @foreach (var item in Model.ProductAttributeValues)
                        {
                            if (item.Value != null && item.ProductId.Equals(pa.Id))
                            {
                                <td>
                                    <small>@item.Value</small>
                                    <div style="float:right;">
                                        <button type="button" class="btn btn-sm btn-outline-dark" title="Edit this attribute value.">Edit</button>
                                        <button type="button" class="btn btn-sm btn-outline-danger" title="Delete this attribute value.">Delete</button>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <i><small>Please add a value.</small></i>
                                    <button type="button" class="btn btn-sm btn-success" title="Add a value!" style="float:right;">Add</button>
                                </td>
                            }
                        }
                    </tr>
                }
            }
        }
    </tbody>
</table>







